

#section-animals{
    display: none;
}

#section-beverages {
    display: none;
}

#section-bodyparts {
    display: none;
}

#section-clothing {
    display: none;
}

#section-colors {
    display: none;
}

#section-days-of-the-week {
    display: none;
}

#section-finance {
    display: none;
}

#section-foods {
    display: none;
}

#section-fruits {
    display: none;
}

#section-geography {
    display: none;
}

#section-gojiiya {
    display: none;
}

#section-interrogatives {
    display: none;
}

#section-kinship {
    display: none;
}

#section-locations {
    display: none;
}

#section-miscellaneous {
    display: none;
}

#section-months {
    display: none;
}

#section-nature {
    display: none;
}

#section-numbers {
    display: none;
}

#section-plants {
    display: none;
}

#section-pronouns {
    display: none;
}

#section-seasons {
    display: none;
}

#section-weather {
    display: none;
}

#section-vegetables {
    display: none;
}
