

#section-animals{
    display: none;
}

#section-beverages {
    display: none;
}

#section-bodyparts {
    display: none;
}

#section-clothing {
    display: none;
}

#section-colors {
    display: none;
}

#section-days-of-the-week {
    display: none;
}

#section-finance {
    display: none;
}

#section-fruits {
    display: none;
}

#section-gojiiya {
    display: none;
}

#section-interrogatives {
    display: none;
}

#section-kinship {
    display: none;
}

#section-months {
    display: none;
}

#section-weather {
    display: none;
}

#section-vegetables {
    display: none;
}
