



body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.button-header {
    cursor: pointer;
    justify-items: center;
    margin: 0px;
    padding: 10px 20px;
}


.button-search {
    height: 20px;
    cursor: pointer;
    background-color: white;
    color: #323232;
    justify-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}


.container-tab {
    display: flex;
    width: 25%;
    height: 50px;
    place-content: center;
    position: relative;
    overflow: visible;
    cursor: pointer;
    z-index: 1;
}


.container-tab-phrases {
    display: flex;
    width: 25%;
    height: 50px;
    place-content: center;
    position: relative;
    overflow: visible;
    cursor: pointer;
    z-index: 1;
}


.container-tab-verbs {
    display: flex;
    width: 25%;
    height: 50px;
    place-content: center;
    position: relative;
    overflow: visible;
    cursor: pointer;
    z-index: 2;
}


.container-tab-words {
    display: flex;
    width: 25%;
    height: 50px;
    place-content: center;
    position: relative;
    overflow: visible;
    cursor: pointer;
    z-index: 1;
}


.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    height: 120px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}


.content-category-title {
    display: flex;
    width: 100%;
    height: 100px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}


.content-list-category {
    width: auto;
    height: auto;
    font-family: Roboto, sans-serif;
    place-content: center;
    margin: 10px;
    padding: 0px;
}


footer {
    width: 100%;
    height: 100px;
    place-content: center;
    margin: 0px;
    padding: 0px;
}




@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto.ttf');
}




.img-header {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100px;
}


.img-list-folder-bottom {
    width: auto;
    height: 100px;
    bottom: 0;
    background-image: url('../assets/ui/ui_folder_bottom_words.png');
    background-position: center;
    background-repeat: repeat-x;
}


.img-tab {
    display: flex;
    width: 125%;
    height: 50px;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}


.input-searchfield {
    width: 100%;
    height: 20px;
    background-color: white;
    border: medium;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
}


.list-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}


p {
    margin: 0px;
    padding: 0px;
}


.section-categories {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Roboto, sans-serif;
    place-content: center;
}


.section-list {
    width: auto;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 0px 10px 10px;
}


.section-list-entries-count {
    width: auto;
    height: 100px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 400;
    place-content: center;
    margin: 20px;
    padding: 0px;
}


.section-list-search {
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 1.25em;
    align-items: center;
    place-content: center;
    margin: 0px;
    padding: 0px;
}


.section-test {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: red;
}

@media (min-width: 1200px){

    .section-test {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: green;
    }

}




.text-content-category {
    width: 100%;
    height: auto;
    font-family: Roboto, sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    align-content: center;
    color: white;
    margin: 20px;
    padding: 0px;
}


.text-content-body {
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    align-content: center;
}


.text-content-heading {
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 1.75em;
    font-weight: 600;
    text-align: left;
    align-content: center;
}


.text-dictionary-tab {
    display: flex;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}


.text-header {
    color: #0032C8;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}


.text-list-revised {
    color: #0032C8;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}


.text-page-title {
    height: 160px;
    color: black;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    align-content: center;
}


.wrapper-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}


.wrapper-header {
    background-color: white;
    display: block;
    width: 100%;
    height: auto;
    border-bottom: solid;
    border-bottom-color: #C8C8C8;
    border-bottom-width: 1px;
    margin: 0px;
    padding: 0px;
}
