



#section-dictionary-animals {
    display: none;
}

#section-dictionary-beverages {
    display: none;
}

#section-dictionary-bodyparts {
    display: none;
}

#section-dictionary-clothing {
    display: none;
}

#section-dictionary-colors {
    display: none;
}

#section-dictionary-days-of-the-week {
    display: none;
}

#section-dictionary-finance {
    display: none;
}

#section-dictionary-foods {
    display: none;
}

#section-dictionary-fruits {
    display: none;
}

#section-dictionary-geography {
    display: none;
}

#section-dictionary-gojiiya {
    display: none;
}

#section-dictionary-interrogatives {
    display: none;
}

#section-dictionary-kinship {
    display: none;
}

#section-dictionary-locations {
    display: none;
}

#section-dictionary-miscellaneous {
    display: none;
}

#section-dictionary-months {
    display: none;
}

#section-dictionary-nature {
    display: none;
}

#section-dictionary-numbers {
    display: none;
}

#section-dictionary-plants {
    display: none;
}

#section-dictionary-pronouns {
    display: none;
}

#section-dictionary-seasons {
    display: none;
}

#section-dictionary-weather {
    display: none;
}

#section-dictionary-vegetables {
    display: none;
}




#section-games-matching {
    display: none;
}




#section-phrases-animals {
    display: none;
}

#section-phrases-beverages {
    display: none;
}

#section-phrases-bodyparts {
    display: none;
}

#section-phrases-clothing {
    display: none;
}

#section-phrases-colors {
    display: none;
}

#section-phrases-days-of-the-week {
    display: none;
}

#section-phrases-finance {
    display: none;
}

#section-phrases-geography {
    display: none;
}

#section-phrases-gojiiya {
    display: none;
}

#section-phrases-hygiene {
    display: none;
}

#section-phrases-interrogatives {
    display: none;
}

#section-phrases-introductions {
    display: none;
}

#section-phrases-kinship {
    display: none;
}

#section-phrases-locations {
    display: none;
}

#section-phrases-miscellaneous {
    display: none;
}

#section-phrases-months {
    display: none;
}

#section-phrases-nature {
    display: none;
}

#section-phrases-numbers {
    display: none;
}

#section-phrases-plants {
    display: none;
}

#section-phrases-recreational {
    display: none;
}

#section-phrases-seasons {
    display: none;
}

#section-phrases-time {
    display: none;
}

#section-phrases-useful-phrases {
    display: none;
}

#section-phrases-weather {
    display: none;
}




#section-resources{
    display: none;
}

#section-resources-books{
    display: none;
}

#section-resources-coyote-stories{
    display: none;
}

#section-resources-dictionaries {
    display: none;
}

#section-resources-information-cards{
    display: none;
}

#section-resources-languagebooks {
    display: none;
}

#section-resources-maps{
    display: none;
}

#section-resources-printouts{
    display: none;
}